body {
    background-color: #ececec;
}

.w-20 {
    width: 20%;
}

.h-100vh {
    height: 100vh;
}

main {
    /* position: relative;
    top: -3em; */
}

.error {
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-danger-light {
    color: #ffb6bd;
}

.fnt-40 {
    font-size: 40px;
}